# Create csv file from px file

Data retrived from https://data.gov.ie/dataset/milk-sales-dairy-for-human-consumption-million-litres-by-month-and-type-of-milk is in px format. There is an existing package in R to load this type of file to a dataframe

In [1]:
install.packages('pxR')
library('pxR')

also installing the dependency ‘RJSONIO’

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done
Loading required package: stringr
Loading required package: reshape2
Loading required package: RJSONIO
Loading required package: plyr

In [2]:
pxmilkfile <- read.px("./data/AKM02.px")

In [3]:
milkdf <-  as.data.frame(pxmilkfile)

In [4]:
tail(milkdf)

     Type.of.Milk                  Month   value
2255 Semi-skimmed milk             2017M07 15.8
2256 All Milk                      2017M08 45.2
2257 Whole Milk                    2017M08 27.4
2258 Skimmed and Semi-skimmed milk 2017M08 17.8
2259 Skimmed Milk                  2017M08  1.7
2260 Semi-skimmed milk             2017M08 16.1

In [5]:
write.csv( milkdf, "./data/AKM02.csv")